body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('../images/pexels-photo-552779.jpeg') no-repeat center center fixed;

    background-size: cover;
    color: white;
}

.container {
    background-color: rgba(0, 0, 0, 0.6);
    
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 8px;
    border: none;
    background-color: transparent; /* Make input background transparent */
    color: white; /* Optional: set text color for better visibility */
    outline: none; /* Remove default outline on focus */
    border: 1px solid rgba(255, 255, 255, 0.5); /* Optional: a subtle border */
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #28a745;
    background:transparent;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.flash {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
}

.flash.success {
    background-color: #4CAF50;
}

.flash.error {
    background-color: #4bc01d;
}
